@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  font-family: "Nunito", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  width: 100%;
}

h1 {
  font-family: "Archivo Black", sans-serif;
  font-size: 2em;
  color: #333;
}

p {
  font-size: 1em;
  color: #666;
}

input {
  font-family: "Nunito", sans-serif;
  font-size: 1em;
  padding: 10px;
  width: 80%;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  font-family: "Nunito", sans-serif;
  font-size: 1em;
  padding: 10px 20px;
  margin: 10px 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ddd;
}

#result {
  font-family: "Archivo Black", sans-serif;
  margin-top: 20px;
  font-size: 1.5em;
  color: #333;
}
